/* Styling for the bingo board */

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 50vw; /* adjust this to be the desired percentage */
  margin: 0 auto;
  padding: 20px;
}